html, body {
    height: 100%;
    background-color: white;
}

.flex-container {
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calc-container {
    display: flex;
    height: 360px;
    width: 280px;
    background-color: black;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

#display-container1 {
    /* color: #008F11; */
    color: red;
    background-color: #0D0208;
    width: 280px;
    height: 40px;
    font-size: 18px;
    text-align: right;
    padding-right: 8px;
    font-style: italic;
}

#display-container {
    color: #008F11;
    background-color: #0D0208;
    width: 280px;
    height: 40px;
    font-size: 56px;
    text-align: right;
    padding-right: 8px;
    padding-bottom: 14px;
}

.empty {
    border: .1px solid black;
    width: 209px;
    height: 40px;
}

.clear {
    flex: 1;
    height: 41px;
    width: 65px;
    border: none;
    font-size: larger;
}

button {
    /* flex: 1; */
    border: .3px solid black;
    width: 70px;
    height: 90px;
    font-size: x-large;
}

.operand {
    background-color: darkgrey;
}

.operator, .equals, .decimal, .clear {
    background-color: #333333;
    color: white;
}

.footer-container {
    text-align: center;
    margin-top: 24px;
    border-top: 1px solid black;
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

.footer-container > a {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}